body {
    background : linear-gradient(to right, red , blue);
}
div {   

}
h1 {
    text-align : center;
}
img {
    width :25%;
    height : 600px;
    margin-left : 0%;
    border : 15px ghostwhite double
}
h3 {
    text-align : center
}